<section class="blogdash">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}
  <div class="blog-dashboard">
    <h3>{{blogs.title}}</h3>
    <p>By: {{blogs.author}}</p>
    <p>Blog Created: {{ format_date blogs.date_created}}</p>
  </div>
</section>